<div class="card bg-white rounded">
  <a href="{{biz.url}}" aria-hidden="true">
    <div class="bg-img card-img-top" aria-hidden="true" style="background-image:url('{{biz.image_path}}')"> </div>
  </a>
  <div class="px-3 pb-3 pt-2">
    <a href="{{biz.url}}" aria-hidden="true">
      <h3> {{biz.title}} </h3>
    </a>
    <p class="mb-0">
      {% for service in biz.services | limit: 6 %}
      <a href="/services/{{service | slugify}}" class="service btn btn-sm btn-secondary mr-2 mb-2"> {{service}} </a>
      {% endfor %}

      {% for location in biz.locations | limit: 6 %}
      {% for area in location.areas %}
      <a href="/areas/{{area | slugify}}" class="location btn btn-sm btn-info mr-2 mb-2"> {{area}} </a>
      {% endfor %}
      {% endfor %}

      {% for practice in biz.practices | limit: 6 %}
      <a href="/practices/{{practice | slugify}}" class="practice btn btn-sm btn-primary mr-2 mb-2 disabled"> {{practice}} </a>
      {% endfor %}
      <a href="{{biz.url}}" aria-hidden="true">+ More</a>
    </p>
    <p class="mb-0"> {{biz.excerpt | strip_html | truncate:100 }} <a href="{{biz.url}}">Read More</a></p>
  </div>
</div>
