<div class="row">
  <div class="col-12 col-sm-6 mb-5">
    <div class="text-center align-middle text-info">
      <!-- TO DO: update this to get icons from page -->
      <a class="text-info" href="/services">
        <i class="fas fa-5x fa-concierge-bell mb-2"></i>
        <h2 class="mb-5">Services</h2>
      </a>
    </div>
    {% include archive-type-links.html bg-color="secondary" type="Services" %}
  </div>
  <div class="col-12 col-sm-6 mb-5">
    <div class="text-center align-middle text-info">
      <a class="text-info" href="/areas">
        <i class="fas fa-5x fa-map-marked-alt mb-2"></i>
        <h2 class="mb-5">Areas</h2>
      </a>
    </div>
    {% include archive-type-links.html bg-color="info" type="Areas" %}
  </div>
</div>
