{% if page.banner.image_path %}
<section class="banner position-relative text-center
{% if page.banner.transparent_header %}
banner-transparent-header
{% endif %}
{% if page.banner.text_color %}
text-{{page.banner.text_color}}
{% else %}
text-white
{% endif %}
">
<div class="bg-img w-100 h-100 position-absolute
{% if page.banner.darken %}
bg-darken
{% endif %}
" style="background-image: url('{{ page.banner.image_path }}')">

</div>

<div class="container h-100">

  <div class="row h-100 align-items-center justify-content-center">

    <div class="col-md-10 col-lg-11">

      <h1 class="display-2
      {% if page.banner.text-shadow %}
      text-shadow
      {% endif %}
      ">
      {% if page.banner.text %}
      {{ page.banner.text }}
      {% else %}
      {{ page.title }}
      {% endif %}
    </h1>

  </div>

</div>

</div>

<div class="text-center w-100 position-absolute scroll-hint">
  <a href="#content-anchor" class="align-bottom
  {% if page.banner.text_color %}
  text-{{page.banner.text_color}}
  {% else %}
  text-white
  {% endif %}
  "><i class="fas fa-chevron-down fa-3x"></i></a>
</div>

<div id="content-anchor"></div>

</section>
{% else %}
<h1>{{ page.title }}</h1>
{% endif %}
