{% if page.banner.image_path %}
<section class="banner position-relative text-white text-center
{% if page.banner.transparent_header %}
banner-transparent-header
{% endif %}
">
  <div class="bg-img w-100 h-100 position-absolute
  {% if page.banner.darken %}
  bg-darken
  {% endif %}
  " style="background-image: url('{{ page.banner.image_path }}')">

  </div>

  <div class="container h-100">

    <div class="row h-100 align-items-center justify-content-center">

      <div class="col-md-11">

        <h1 class="display-2
        {% if page.banner.text-shadow %}
        text-shadow
        {% endif %}
        ">
          {% if page.banner.text %}
          {{ page.banner.text }}
          {% else %}
          {{ page.title }}
        {% endif %}
      </h1>
      <div class="banner-archive-links">

        <h2 class="text-shadow">Services:</h2>
        {% for service in page.services %}
          <h3><a href="/services/{{service | slugify }}" class="service"> {{service}} </a></h3>
        {% endfor %}

        </div>


      </div>

    </div>


  </div>

</section>
{% else %}
  <h1>{{ page.title }}</h1>
{% endif %}
