<header>
  <nav class="navbar navbar-expand-lg navbar-dark
  {% if page.banner %}
  w-100 zindex-fixed navbar-banner
  {% else %}
  bg-dark
  {% endif %}
  ">
    <a href="{{ '/' | relative_url }}" aria-label="Go to homepage" class="navbar-brand">
      <img src="{{ site.logo | escape }}" alt="Eco-Friendly Bali Logo" style="width: 213px;">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      {% include navigation.html navigation=site.data.navigation %}
    </div>

  </nav>

</header>
