<header>
  <nav class="navbar navbar-expand-lg navbar-dark
  {% if page.banner.transparent_header %}
  w-100 zindex-fixed navbar-banner
  {% else %}
  bg-primary
  {% endif %}
  ">
  <div class="container">

    <a href="{{ '/' | relative_url }}" aria-label="Go to homepage" class="navbar-brand">
      <img src="{{ site.logo_light_url | escape }}" alt="Eco-Friendly Bali Logo" class="d-inline-block my-2" style="width: 213px;">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-right" id="navbarNav">
      {% include navigation.html navigation=site.data.navigation %}

      <!-- Custom google search -->
      <div class="" style="min-width: 208px;">
        <div class="">
          <script async src="https://cse.google.com/cse.js?cx=000358889515954054311:mn6oj0f0qag"></script>
          <div class="gcse-search"></div>
          <style type="text/css">
            .gsc-control-cse {
              border-color: transparent;
              background-color: transparent;
              max-width: 400px;
              margin-left: auto;
              padding-right: 0;
            }
            .gsc-search-button {
              height: 30px;
            }
          </style>
        </div>
      </div>

    </div>

  </div>

</nav>

</header>
