.text-shadow {
  text-shadow: 0 0 1rem rgba(0,0,0,1);
}

blockquote {
  padding-left: 1rem;
  border-left: 0.1rem solid rgba($primary, 0.5);
}

a {
  font-weight: $font-weight-bold;
}

// font awsome icons
a i {
  font-weight: $font-weight-normal;
}
