.text-shadow {
  text-shadow: 0 0 1rem rgba(0,0,0,1);
}

blockquote {
  padding-left: 1rem;
  border-left: 0.1rem solid rgba($primary, 0.5);
}

a {
  font-weight: $font-weight-bold;
  transition: color 0.4s, background-color 0.4s;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  letter-spacing: 0.1rem;
}

// font awsome icons
a i {
  font-weight: $font-weight-normal;
}

//  navbar
.nav-link {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
