.bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 10rem;
}

.bg-darken {
  -webkit-filter: brightness(60%); /* Safari 6.0 - 9.0 */
  filter: brightness(60%);
}

.bg-white-transparent {
  background-color: rgba($white, 0.5);
}

.zindex-fixed {
  z-index: $zindex-fixed;
}

.navbar-banner {
  background-color: $dark;
}

.banner {
  height: calc(100vh - 100px);
}

@include media-breakpoint-up(lg) {
  .navbar-banner {
    position: absolute;
    background-color: transparent;
  }

  .banner-transparent-header {
    height: 100vh;
  }
}
