// site colours
$green: #334c0c;
$primary: $green;
$light: #344c0c26; // light pale green
$dark: #1A2400; // dark green
$secondary: #85515B; // mauve
$gray-dark: #444444;
$info: $gray-dark;

// Typography
$headings-font-family: 'Glass Antiqua', Roboto, sans-serif;
$font-family-sans-serif: 'Lato', Roboto, sans-serif;

// font sizes
$enable-responsive-font-sizes: true;

// Links
$link-color: $primary;
$link-hover-decoration: none;
$link-hover-color: darken($link-color, 25%);
