---
layout: default
---
{% assign has_biz = false %}

{% include banner.html %}

{% include intro-banner.html %}

{% assign content_words = page.content | number_of_words %}

{% if content_words > 0 %}
<section class="py-5">
  <div class="container">
    {{content}}
  </div>
</section>
{% endif %}

<section class="">
  <div class="container">

    <div class="card-columns py-5">
      <!-- Service archive -->
      {% if page.type == "service" %}

      {% for biz in site.biz %}

      {% if biz.services contains page.service %}
      {% assign has_biz = true %}
      {% include archive-loop-item.html %}
      {% endif %}

      {% endfor %}

      <!-- Area archive -->
      {% elsif page.type == "area" %}

      {% for biz in site.biz %}

      {% for location in biz.locations %}

      {% if location.areas contains page.area %}
      {% assign has_biz = true %}
      {% include archive-loop-item.html %}
      {% endif %}

      {% endfor %}

      {% endfor %}

      <!-- Practice archive -->
      {% elsif page.type == "practice" %}

      {% for biz in site.biz %}

      {% if biz.practices contains page.practice %}
      {% assign has_biz = true %}
      {% include archive-loop-item.html %}
      {% endif %}

      {% endfor %}

      {% endif %}

    </div>

    <div class="pb-5">
      {% if has_biz == false %}
      <p class="mt-n5">
        No content here yet...
      </p>
      {% endif %}
      <p class="mb-0">
        Have a suggestion? <a href="/contact">Let us know.</a>
      </p>
    </div>

  </div>
</section>
