---
layout: default
---
{% assign author = site.data.authors[page.author] %}

<h2>{{ page.title }}</h2>

<p>
  Categories: {{ page.categories | array_to_sentence_string  }}
</p>

<p>
  Green Practices: {{ page.practices | array_to_sentence_string  }}
</p>

<p>
  Locations: {{ page.locations | array_to_sentence_string  }}
</p>

  {% for location in page.locations %}

  <a href="#" class="location">{{ location }}</a>
  <p>
  {% if page.contact.address_url[forloop.index0] %}
  <a target="_blank" href="{{ page.contact.address_url }}">
    {% endif %}
    {% if page.contact.address[forloop.index0] %}
    {{ page.contact.address[forloop.index0] }}
    {% endif %}
    {% if page.contact.address[forloop.index0] %}
  </a>
  {% endif %}
  </p>

  {% endfor %}

{% include page-intro.html %}

{{ content }}

<nav aria-label="Adjacent Posts">
  <ul>
    {% if page.previous.url %}
    <li>
      <a href="{{page.previous.url}}" rel="prev">&laquo; {{page.previous.title}}</a>
    </li>
    {% endif %}
    {% if page.next.url %}
    <li>
      <a href="{{page.next.url}}" rel="next">{{page.next.title}} &raquo;</a>
    </li>
    {% endif %}
  </ul>
</nav>
