---
layout: default
---
{% assign author = site.data.authors[page.author] %}

{% include banner.html %}

<div class="biz-archive-links container">
  <div class="row">

    <div class="col-md-3">
      <h2>Services:</h2>
      {% for service in page.services %}
      <h3><a href="/services/{{service | slugify }}" class="service"> {{service}} </a></h3>
      {% endfor %}
    </div>

    <div class="col-md-6">
      <h2>Green Practices:</h2>
      {% for practice in page.practices %}
      <h3><a href="/practices/{{practice | slugify }}" class="practice"> {{practice}} </a></h3>
      {% endfor %}
    </div>

    <div class="col-md-3">
      <h2>Locations:</h2>
      {% for location in page.locations %}
      <h3><a href="/location/{{location.area | slugify }}" class="location"> {{location.area}} </a></h3>
      {% endfor %}
    </div>

  </div>

</div>
{% for location in page.locations %}
<p>
  {{ location.area }}: 
  {% if location.address_url %}
  <a target="_blank" href="{{ location.address_url }}">
    {% endif %}
    {% if location.address %}
    {{ location.address }}
    {% endif %}
    {% if location.address_url %}
  </a>
  {% endif %}
</p>

{% endfor %}

{% include page-intro.html %}

{{ content }}

<nav aria-label="Adjacent Posts">
  <ul>
    {% if page.previous.url %}
    <li>
      <a href="{{page.previous.url}}" rel="prev">&laquo; {{page.previous.title}}</a>
    </li>
    {% endif %}
    {% if page.next.url %}
    <li>
      <a href="{{page.next.url}}" rel="next">{{page.next.title}} &raquo;</a>
    </li>
    {% endif %}
  </ul>
</nav>
