---
layout: default
---

{% include banner.html %}
<!-- Photo by Frans Daniels on Unsplash https://unsplash.com/photos/xBgoj_jPoMU -->

<div class="container py-5">

  <img class="d-inline-block mb-3" src="{{page.intro_icon.image_path}}" alt="{{page.intro_icon.description}}">

  <h2 class="mb-3">{{ page.title }}</h2>

  {% include page-intro.html %}

  {{ content }}

</div>

<section class="areas-services-grid">
  <div class="container">

    {% include areas-services-grid.html %}

  </div>
</section>
