---
layout: default
---
{% assign has-biz = false %}

{% include banner.html %}

{% include intro-banner.html %}

{% assign content_words = page.content | number_of_words %}

{% if content_words > 0 %}
<section class="py-5">
  <div class="container">
    {{content}}
  </div>
</section>
{% endif %}

<section class="bg-light py-5">
  <div class="container">

    <div class="card-columns">

      {% for biz in site.biz %}
      {% if biz.services contains page.service %}
      {% assign has-biz = true %}
      {% include archive-loop-item.html %}
      {% endif %}
      {% endfor %}

    </div>

    {% if has-biz == false %}
    <p>
      No content here yet...
    </p>
    <p>
      Know of {{page.title}}? <a href="/contact">Share it with us.</a>
    </p>
    {% endif %}
  </div>
</section>
