---
layout: default
---

{% include banner.html %}

{% include intro-banner.html %}

{% assign content_words = page.content | number_of_words %}

{% if content_words > 0 %}
<section class="py-5">
  <div class="container">
    {{content}}
  </div>
</section>
{% endif %}

<section class="bg-light py-5">
  <div class="container">

    <div class="card-columns">

      {% for biz in site.biz %}
      {% if biz.services contains page.service %}
      {% include archive-loop-item.html %}
      {% endif %}
      {% endfor %}

    </div>
  </div>
</section>
